.boxHolder {
  margin: 272px 0 0 140px;
}

.commandBox {
  color: $accent;
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: top;

  .commandItem {
    font-size: 30px;

    &.title {
      font-size: 45px;
    }

    &.question::after {
      content: '?';
      display: inline-block;
      font-size: 17px;
      margin-left: 5px;
    }

    &:not(:first-child)::before {
      content: '-';
      display: inline-block;
      font-size: 22px;
      margin-right: 5px;
    }

    ul {
      list-style: none;
    }
  }

  &:not(:last-child) {
    margin-right: 250px;
  }
}
