@font-face {
  font-family: 'unispace';
  src: local('./fonts/unispace/unispace rg.ttf');
}

span {
  color: $highlight;
}

a {
  color: $accent;
  text-decoration: none;
}

h1 {
  color: $highlight;
}
