@font-face {
  font-family: "unispace";
  src: local("../../fonts/unispace/unispace rg.ttf");
}
.navbar {
  background: #15616D;
  height: 80px;
  list-style: none;
  margin: 0;
  padding: 0 140px;
}
.navbar .navItem {
  color: #FFECD1;
  display: inline-block;
  font-size: 25px;
  height: 80px;
  line-height: 80px;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}
.navbar .navItem:not(:first-child):hover {
  transform: scale(1.05);
}
.navbar .navItem a {
  color: inherit;
  display: block;
  height: 100%;
  margin: 0;
  text-decoration: none;
  width: 100%;
}
.navbar .navItem:not(:last-child) {
  margin-right: 80px;
}
.navbar .navItem.title {
  font-size: 45px;
  font-weight: bold;
  text-transform: uppercase;
}
.navbar .navItem.inviteButton {
  background: #FF7D00;
  border-radius: 10px;
  color: #001524;
  font-size: 19px;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  margin: 15px;
  width: 200px;
  float: right;
}
.navbar .navItem .heart {
  font-weight: bold;
}

html,
body,
#root,
#root > div {
  height: 100%;
  margin: 0;
}

body {
  background: #001524;
  font-family: "unispace";
}

span {
  color: #FF7D00;
}

.botTitle {
  color: #FFECD1;
  float: right;
  font-size: 40px;
  margin: 80px 140px 0 0;
}

a {
  text-decoration: none;
}

main {
  flex: 1 0 auto;
}

#root > div {
  display: flex;
  flex-direction: column;
}

.boxHolder {
  margin: 272px 0 0 140px;
}

.commandBox {
  color: #FFECD1;
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: top;
}
.commandBox .commandItem {
  font-size: 30px;
}
.commandBox .commandItem.title {
  font-size: 45px;
}
.commandBox .commandItem span::after {
  color: #FFECD1;
  content: attr(data-subtitle);
  display: inline-block;
  font-size: 17px;
  margin-left: 5px;
}
.commandBox .commandItem:not(:first-child)::before {
  content: "-";
  display: inline-block;
  font-size: 22px;
  margin-right: 5px;
}
.commandBox .commandItem ul {
  list-style: none;
}
.commandBox:not(:last-child) {
  margin-right: 250px;
}

#footerHolder {
  flex-shrink: 0;
  margin-top: 80px;
}

.footer {
  background: #15616D;
  display: flex;
  height: 160px;
  margin: 0;
  padding: 0;
  width: 100%;
}
.footer .footerItem {
  flex: 1;
}
.footer .footerItem p {
  margin: 0;
}
.footer .footerItem.title {
  color: #FF7D00;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  height: 160px;
  justify-content: center;
  text-transform: uppercase;
}
.footer .footerItem.title .copyright {
  color: #FFECD1;
  font-size: 14px;
  opacity: 0.5;
  text-transform: none;
}
.footer .footerItem .titleHolder {
  margin: 0 auto;
}
.footer .footerItem a {
  color: #FFECD1;
}

.separator {
  background-color: #FFECD1;
  height: 100px;
  margin: auto 0;
  opacity: 0.25;
  width: 2px;
}

.notFoundBox {
  color: #FFECD1;
  text-align: center;
}
.notFoundBox .notfound {
  font-size: 4em;
}
.notFoundBox .backButton {
  background: #FF7D00;
  border-radius: 10px;
  color: #001524;
  font-size: 19px;
  font-weight: bold;
  height: 50px;
  line-height: 25px;
  margin: 15px;
  width: 140px;
  font-size: 15px;
  margin: 0 auto;
  padding: 5px;
}
.notFoundBox .backButton a {
  color: inherit;
  display: block;
  height: 100%;
  margin: 0;
  text-decoration: none;
  width: 100%;
}

.commandListHolder {
  margin: 80px 140px 0;
  display: flex;
}
.commandListHolder > div {
  flex: 4;
}
.commandListHolder > div:not(:last-child) {
  margin-right: 140px;
}
.commandListHolder #commandMenu {
  flex: 1;
}
.commandListHolder #commandMenu h1 {
  color: #FFECD1;
}
.commandListHolder #commandMenu ul {
  margin: 0;
  color: #FFECD1;
  list-style: none;
  border: 1px solid #FFECD1;
  font-size: 30px;
  padding: 0;
}
.commandListHolder #commandMenu ul li {
  position: relative;
  padding: 10px;
}
.commandListHolder #commandMenu ul li p {
  margin: 5px;
}
.commandListHolder #commandMenu ul li:hover {
  color: #FF7D00;
}
.commandListHolder #commandMenu ul li.active {
  color: #FF7D00;
}
.commandListHolder #commandMenu ul li:nth-child(2n+1) > p::before {
  content: "";
  background: rgba(21, 97, 109, 0.6);
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  z-index: -100;
}
.commandListHolder #commandList {
  border: 1px solid #FFECD1;
}
.commandListHolder #commandList table {
  color: #FFECD1;
  width: 100%;
}
.commandListHolder #commandList tr {
  min-height: 80px;
  display: flex;
}
.commandListHolder #commandList tr td, .commandListHolder #commandList tr th {
  flex: 3;
}
.commandListHolder #commandList tr td:first-child, .commandListHolder #commandList tr th:first-child {
  flex: 1;
}
.commandListHolder #commandList tr td:last-child, .commandListHolder #commandList tr th:last-child {
  flex: 3;
}
.commandListHolder #commandList tr td:first-child {
  padding-left: 50px;
}
.commandListHolder #commandList tr td:last-child {
  padding-right: 50px;
  text-align: right;
}
.commandListHolder #commandList th {
  color: #FF7D00;
  line-height: 80px;
}

/*# sourceMappingURL=index.css.map */
