@font-face {
  font-family: "unispace";
  src: local("../../fonts/unispace/unispace rg.ttf");
}
span {
  color: #FF7D00;
}

a {
  color: #FFECD1;
  text-decoration: none;
}

h1 {
  color: #FF7D00;
}

.navbar {
  background: #15616D;
  height: 80px;
  list-style: none;
  margin: 0;
  padding: 0 5em;
}
.navbar .navItem {
  color: #FFECD1;
  display: inline-block;
  font-size: 1.7em;
  height: 80px;
  line-height: 80px;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}
.navbar .navItem:not(:first-child):hover {
  transform: scale(1.05);
}
.navbar .navItem a {
  color: inherit;
  display: block;
  height: 100%;
  margin: 0;
  text-decoration: none;
  width: 100%;
}
.navbar .navItem:not(:last-child) {
  margin-right: 2em;
}
.navbar .navItem.title {
  font-size: 3em;
  font-weight: bold;
  text-transform: uppercase;
}
.navbar .navItem.inviteButton {
  background: #FF7D00;
  border-radius: 10px;
  color: #001524;
  font-size: 19px;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  margin: 15px;
  width: 200px;
  float: right;
}
.navbar .navItem .heart {
  font-weight: bold;
}
.navbar .menuBurger {
  fill: #FF7D00;
  float: left;
  height: 3em;
  margin: calc(( 80px - 3em ) / 2) 100px calc(( 80px - 3em ) / 2) 30px;
  transition: transform 0.08s;
  width: auto;
}
.navbar .menuBurger.clicked {
  transform: scale(1.1);
}

.navbar-tablet {
  padding: 0;
}

.navbar-phone {
  padding: 0;
}

#menuDrawer {
  background-color: #15616D;
  border-radius: 10px;
  margin: 10px 0 0 30px;
  padding: 10px;
  position: absolute;
  transform: translateX(-500px);
  transition: transform 0.25s cubic-bezier(0, 0.96, 0, 1.01);
}
#menuDrawer.open {
  transform: translateX(0);
}
#menuDrawer ul {
  color: #FFECD1;
  font-size: 1.2em;
  padding: 0 0.75em;
}
#menuDrawer ul li {
  margin: 20px 0;
}
#menuDrawer.drawer-phone .inviteButton {
  background: #FF7D00;
  border-radius: 10px;
  color: #FFECD1;
  font-size: 19px;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  margin: 15px;
  width: 200px;
  margin: 0;
  text-align: center;
}
#menuDrawer.drawer-phone .inviteButton a {
  color: #001524;
}

html {
  min-width: 300px;
}

ul {
  list-style: none;
}

#root > div {
  background: #001524;
  display: flex;
  flex-direction: column;
  font-family: "unispace";
  margin: 0;
  min-height: 100vh;
}

.page-wrapper {
  flex: 1;
  min-height: 673px;
}
.page-wrapper .pageTitle {
  color: #FFECD1;
  float: right;
  font-size: 2.5em;
  padding-right: 1em;
}

.page-wrapper-tablet .pageTitle {
  font-size: 2em;
}

.page-wrapper-phone .pageTitle {
  float: none;
  font-size: 2em;
  margin: 1em 0.5em;
  padding: 0;
  text-align: center;
}

#MainPage .page-wrapper .boxHolder {
  float: right;
  height: 100%;
  width: calc(100% - 10em);
}
#MainPage .page-wrapper .commandBox {
  color: #FFECD1;
  float: left;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: top;
  width: calc(100% / 2);
}
#MainPage .page-wrapper .commandBox .commandItem {
  font-size: 2em;
}
#MainPage .page-wrapper .commandBox .commandItem.title {
  font-size: 2.5em;
}
#MainPage .page-wrapper .commandBox .commandItem span::after {
  color: #FFECD1;
  content: attr(data-subtitle);
  display: inline-block;
  font-size: 0.6em;
  margin-left: 0.5em;
}
#MainPage .page-wrapper .commandBox .commandItem:not(:first-child)::before {
  content: "-";
  display: inline-block;
  font-size: 0.6em;
  margin-right: 0.5em;
}
#MainPage .page-wrapper.page-wrapper-tablet .boxHolder {
  padding: 8em 2.5em;
}
#MainPage .page-wrapper.page-wrapper-tablet .commandBox .commandItem {
  font-size: 1.7em;
}
#MainPage .page-wrapper.page-wrapper-tablet .commandBox .commandItem.title {
  font-size: 2.2em;
}
#MainPage .page-wrapper.page-wrapper-phone .boxHolder {
  padding: 0;
  width: 100%;
}
#MainPage .page-wrapper.page-wrapper-phone .commandBox {
  padding: 2em;
  width: calc(100% - 4em);
}
#MainPage .page-wrapper.page-wrapper-phone .commandBox .commandItem {
  font-size: 1em;
}
#MainPage .page-wrapper.page-wrapper-phone .commandBox .commandItem.title {
  font-size: 1.7em;
  text-align: center;
}
#MainPage .page-wrapper.page-wrapper-phone .commandBox:not(:first-child) {
  padding-top: 0;
}

.footer {
  background: #15616D;
  font-size: 1em;
  min-height: 160px;
  padding: 2em;
  width: calc(100% - 4em);
}
.footer .content {
  height: 100%;
}
.footer .content .footerItem {
  float: left;
  height: 100%;
  width: calc(100% / 3);
}
.footer .content .footerItem .title {
  margin: 0;
  margin-bottom: 2em;
  text-transform: uppercase;
}
.footer .content .footerItem .copyright,
.footer .content .footerItem .credits {
  color: #FFECD1;
  margin: 0;
  opacity: 0.5;
  text-transform: none;
}
.footer .content .footerItem .credits {
  color: #FF7D00;
  opacity: 1;
}

.footer-phone .content .footerItem,
.footer-tablet .content .footerItem {
  width: calc(100% / 1);
}

.notFoundBox {
  color: #FFECD1;
  text-align: center;
}
.notFoundBox .notfound {
  font-size: 4em;
}
.notFoundBox .backButton {
  background: #FF7D00;
  border-radius: 10px;
  color: #001524;
  font-size: 19px;
  font-weight: bold;
  height: 50px;
  line-height: 25px;
  margin: 15px;
  width: 140px;
  font-size: 15px;
  margin: 0 auto;
  padding: 5px;
}
.notFoundBox .backButton a {
  color: inherit;
  display: block;
  height: 100%;
  margin: 0;
  text-decoration: none;
  width: 100%;
}

#CommandsPage .page-wrapper .commandHolder {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 5em 10em;
  width: calc(100% - ( 10em * 2 ));
}
#CommandsPage .page-wrapper #commandMenu,
#CommandsPage .page-wrapper #commandList {
  border: 1px solid #FFECD1;
  color: #FFECD1;
}
#CommandsPage .page-wrapper #commandMenu {
  flex: 1;
  height: 100%;
  margin-right: 2em;
}
#CommandsPage .page-wrapper #commandMenu > ul {
  margin: 0;
  padding: 1em;
}
#CommandsPage .page-wrapper #commandMenu > ul > li {
  padding: 1em;
}
#CommandsPage .page-wrapper #commandMenu > ul > li > p {
  margin: 0;
}
#CommandsPage .page-wrapper #commandMenu > ul > li.active {
  background-color: #FF7D00;
}
#CommandsPage .page-wrapper #commandList {
  flex: 4;
}
#CommandsPage .page-wrapper #commandList table {
  padding: 1em 2em;
}
#CommandsPage .page-wrapper #commandList table,
#CommandsPage .page-wrapper #commandList tr {
  width: 100%;
}
#CommandsPage .page-wrapper #commandList th {
  color: #FF7D00;
}
#CommandsPage .page-wrapper #commandList tr {
  height: 50px;
}
#CommandsPage .page-wrapper.page-wrapper-tablet .commandHolder {
  flex-direction: column;
  padding: 3em;
  width: calc(100% - ( 3em * 2 ));
}
#CommandsPage .page-wrapper.page-wrapper-tablet #commandList,
#CommandsPage .page-wrapper.page-wrapper-tablet #commandMenu {
  width: 100%;
}
#CommandsPage .page-wrapper.page-wrapper-tablet #commandMenu {
  margin-bottom: 2em;
}
#CommandsPage .page-wrapper.page-wrapper-tablet #commandList table {
  padding: 0;
}
#CommandsPage .page-wrapper.page-wrapper-tablet #commandList thead {
  display: none;
}
#CommandsPage .page-wrapper.page-wrapper-tablet #commandList tr {
  margin: 1em;
  width: 100%;
}
#CommandsPage .page-wrapper.page-wrapper-tablet #commandList tr:nth-child(2n+1) {
  background: rgba(21, 97, 109, 0.6);
}
#CommandsPage .page-wrapper.page-wrapper-tablet #commandList td {
  display: block;
  line-height: 50px;
  margin-left: 1em;
  min-height: 50px;
}
#CommandsPage .page-wrapper.page-wrapper-tablet #commandList td:first-child {
  color: #FF7D00;
  font-size: 1.3em;
}
#CommandsPage .page-wrapper.page-wrapper-phone .commandHolder {
  flex-direction: column;
  padding: 3em;
  width: calc(100% - ( 3em * 2 ));
}
#CommandsPage .page-wrapper.page-wrapper-phone #commandList,
#CommandsPage .page-wrapper.page-wrapper-phone #commandMenu {
  width: 100%;
}
#CommandsPage .page-wrapper.page-wrapper-phone #commandMenu {
  margin-bottom: 2em;
}
#CommandsPage .page-wrapper.page-wrapper-phone #commandList table {
  padding: 0;
}
#CommandsPage .page-wrapper.page-wrapper-phone #commandList thead {
  display: none;
}
#CommandsPage .page-wrapper.page-wrapper-phone #commandList tr {
  margin: 1em;
  width: 100%;
}
#CommandsPage .page-wrapper.page-wrapper-phone #commandList tr:nth-child(2n+1) {
  background: rgba(21, 97, 109, 0.6);
}
#CommandsPage .page-wrapper.page-wrapper-phone #commandList td {
  display: block;
  line-height: 50px;
  margin-left: 1em;
  min-height: 50px;
}
#CommandsPage .page-wrapper.page-wrapper-phone #commandList td:first-child {
  color: #FF7D00;
  font-size: 1.3em;
}

/*# sourceMappingURL=index.css.map */
