@font-face {
  font-family: "unispace";
  src: local("../../fonts/unispace/unispace rg.ttf");
}
span {
  color: #FF7D00;
}

a {
  text-decoration: none;
}

h1 {
  color: #FF7D00;
}

.navbar {
  background: #15616D;
  height: 80px;
  list-style: none;
  margin: 0;
  padding: 0 140px;
}
.navbar .navItem {
  color: #FFECD1;
  display: inline-block;
  font-size: 25px;
  height: 80px;
  line-height: 80px;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}
.navbar .navItem:not(:first-child):hover {
  transform: scale(1.05);
}
.navbar .navItem a {
  color: inherit;
  display: block;
  height: 100%;
  margin: 0;
  text-decoration: none;
  width: 100%;
}
.navbar .navItem:not(:last-child) {
  margin-right: 80px;
}
.navbar .navItem.title {
  font-size: 45px;
  font-weight: bold;
  text-transform: uppercase;
}
.navbar .navItem.inviteButton {
  background: #FF7D00;
  border-radius: 10px;
  color: #001524;
  font-size: 19px;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  margin: 15px;
  width: 200px;
  float: right;
}
.navbar .navItem .heart {
  font-weight: bold;
}
.navbar .menuBurger {
  width: auto;
  height: 60px;
  margin: 10px 100px 10px 30px;
  float: left;
  transition: transform 0.08s;
}
.navbar .menuBurger.clicked {
  transform: scale(1.1);
}

.navbar-tablet {
  padding: 0;
}

#menuDrawer {
  background-color: #15616D;
  position: absolute;
  width: 300px;
  margin: 10px 0 0 30px;
  border-radius: 10px;
  padding: 10px;
  transform: translateX(-500px);
  transition: transform 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
#menuDrawer.open {
  transform: translateX(0);
}
#menuDrawer ul {
  color: #FFECD1;
  font-size: 20px;
}
#menuDrawer ul li {
  margin: 20px 0;
}
#menuDrawer ul a {
  color: inherit;
}

html {
  min-width: 300px;
}

ul {
  list-style: none;
}

#root > div {
  background: #001524;
  display: flex;
  flex-direction: column;
  font-family: "unispace";
  margin: 0;
  min-height: 100vh;
}

.page-wrapper {
  flex: 1;
  min-height: 673px;
}
.page-wrapper .botTitle {
  color: #FFECD1;
  float: right;
  font-size: 2.5em;
  padding-right: 1em;
}
.page-wrapper .boxHolder {
  height: 100%;
  padding: 5em;
  width: calc(100% - 10em);
}
.page-wrapper .commandBox {
  color: #FFECD1;
  float: left;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: top;
  width: calc(100% / 2);
}
.page-wrapper .commandBox .commandItem {
  font-size: 2em;
}
.page-wrapper .commandBox .commandItem.title {
  font-size: 2.5em;
}
.page-wrapper .commandBox .commandItem span::after {
  color: #FFECD1;
  content: attr(data-subtitle);
  display: inline-block;
  font-size: 0.6em;
  margin-left: 0.5em;
}
.page-wrapper .commandBox .commandItem:not(:first-child)::before {
  content: "-";
  display: inline-block;
  font-size: 0.6em;
  margin-right: 0.5em;
}

.page-wrapper-tablet .boxHolder {
  padding: 8em 2.5em;
}
.page-wrapper-tablet .botTitle {
  font-size: 2em;
}
.page-wrapper-tablet .commandBox .commandItem {
  font-size: 1.7em;
}
.page-wrapper-tablet .commandBox .commandItem.title {
  font-size: 2.2em;
}

.footer {
  background: #15616D;
  min-height: 160px;
  padding: 2em;
  width: calc(100% - 4em);
  font-size: 1em;
}
.footer .content {
  height: 100%;
}
.footer .content .footerItem {
  height: 100%;
  width: calc(100% / 3);
  float: left;
}
.footer .content .footerItem .title {
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 2em;
}
.footer .content .footerItem .copyright,
.footer .content .footerItem .credits {
  color: #FFECD1;
  opacity: 0.5;
  text-transform: none;
  margin: 0;
}
.footer .content .footerItem .credits {
  color: #FF7D00;
  opacity: 1;
}
.footer .content .footerItem a {
  color: #FFECD1;
}

.footer-tablet .content .footerItem {
  width: calc(100% / 1);
}

.notFoundBox {
  color: #FFECD1;
  text-align: center;
}
.notFoundBox .notfound {
  font-size: 4em;
}
.notFoundBox .backButton {
  background: #FF7D00;
  border-radius: 10px;
  color: #001524;
  font-size: 19px;
  font-weight: bold;
  height: 50px;
  line-height: 25px;
  margin: 15px;
  width: 140px;
  font-size: 15px;
  margin: 0 auto;
  padding: 5px;
}
.notFoundBox .backButton a {
  color: inherit;
  display: block;
  height: 100%;
  margin: 0;
  text-decoration: none;
  width: 100%;
}

.commandListHolder {
  margin: 80px 140px 0;
  display: flex;
}
.commandListHolder > div {
  flex: 4;
}
.commandListHolder > div:not(:last-child) {
  margin-right: 140px;
}
.commandListHolder #commandMenu {
  flex: 1;
}
.commandListHolder #commandMenu h1 {
  color: #FFECD1;
}
.commandListHolder #commandMenu ul {
  margin: 0;
  color: #FFECD1;
  list-style: none;
  border: 1px solid #FFECD1;
  font-size: 30px;
  padding: 0;
}
.commandListHolder #commandMenu ul li {
  position: relative;
  padding: 10px;
}
.commandListHolder #commandMenu ul li p {
  margin: 5px;
}
.commandListHolder #commandMenu ul li:hover {
  color: #FF7D00;
}
.commandListHolder #commandMenu ul li.active {
  color: #FF7D00;
}
.commandListHolder #commandMenu ul li:nth-child(2n+1) > p::before {
  content: "";
  background: rgba(21, 97, 109, 0.6);
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  z-index: -100;
}
.commandListHolder #commandList {
  border: 1px solid #FFECD1;
}
.commandListHolder #commandList table {
  color: #FFECD1;
  width: 100%;
}
.commandListHolder #commandList tr {
  min-height: 80px;
  display: flex;
}
.commandListHolder #commandList tr td, .commandListHolder #commandList tr th {
  flex: 3;
}
.commandListHolder #commandList tr td:first-child, .commandListHolder #commandList tr th:first-child {
  flex: 1;
}
.commandListHolder #commandList tr td:last-child, .commandListHolder #commandList tr th:last-child {
  flex: 3;
}
.commandListHolder #commandList tr td:first-child {
  padding-left: 50px;
}
.commandListHolder #commandList tr td:last-child {
  padding-right: 50px;
  text-align: right;
}
.commandListHolder #commandList th {
  color: #FF7D00;
  line-height: 80px;
}

/*# sourceMappingURL=index.css.map */
