#CommandsPage .page-wrapper {
  .commandHolder {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 5em 10em;
    width: calc(100% - ( 10em * 2 ));
  }

  #commandMenu,
  #commandList {
    border: 1px solid $accent;
    color: $accent;
  }

  #commandMenu {
    flex: 1;
    height: 100%;
    margin-right: 2em;

    >ul { margin: 0;
      padding: 1em;

      >li { padding: 1em;
        >p { margin: 0; }
        &.active { background-color: $highlight; }
      }
    }
  }

  #commandList {
    flex: 4;

    table { padding: 1em 2em;}

    table,
    tr { width: 100%; }

    th { color: $highlight; }

    tr { height: 50px; }
  }

  &.page-wrapper-tablet {
    .commandHolder {
      flex-direction: column;
      padding: 3em;
      width: calc(100% - ( 3em * 2 ));
    }

    #commandList,
    #commandMenu {
      width: 100%;
    }

    #commandMenu { margin-bottom: 2em; }

    #commandList {
      table { padding: 0; }
      thead { display: none; }
      tr {
        margin: 1em;
        width: 100%;

        &:nth-child( 2n + 1 ) {
          background: transparentize($secondary, .4);
        }
      }

      td {
        display: block;
        line-height: 50px;
        margin-left: 1em;
        min-height: 50px;

        &:first-child {
          color: $highlight;
          font-size: 1.3em;
        }
      }
    }
  }

  &.page-wrapper-phone {
    .commandHolder {
      flex-direction: column;
      padding: 3em;
      width: calc(100% - ( 3em * 2 ));
    }

    #commandList,
    #commandMenu {
      width: 100%;
    }

    #commandMenu { margin-bottom: 2em; }

    #commandList {
      table { padding: 0; }
      thead { display: none; }
      tr {
        margin: 1em;
        width: 100%;

        &:nth-child( 2n + 1 ) {
          background: transparentize($secondary, .4);
        }
      }

      td {
        display: block;
        line-height: 50px;
        margin-left: 1em;
        min-height: 50px;

        &:first-child {
          color: $highlight;
          font-size: 1.3em;
        }
      }
    }
  }
}
