.footer {
  background: $secondary;
  min-height: 160px;
  padding: 2em;
  width: calc(100% - 4em); // separator margin
  font-size: 1em;

  .content {
    height: 100%;

    .footerItem {
      height: 100%;
      width: calc(100% / 3);
      float: left;

      .title {
        margin: 0;
        text-transform: uppercase;
        margin-bottom: 2em;
      }

      .copyright,
      .credits {
        color: $accent;
        opacity: .5;
        text-transform: none;
        margin: 0;
      }

      .credits {
        color: $highlight;
        opacity: 1;
      }

      a {
        color: $accent;
      }
    }
  }
}

.footer-tablet .content .footerItem {
  width: calc(100% / 1);
}
