.footer {
  background: $secondary;
  font-size: 1em;
  min-height: 160px;
  padding: 2em;
  width: calc(100% - 4em); // separator margin

  .content {
    height: 100%;

    .footerItem {
      float: left;
      height: 100%;
      width: calc(100% / 3);

      .title {
        margin: 0;
        margin-bottom: 2em;
        text-transform: uppercase;
      }

      .copyright,
      .credits {
        color: $accent;
        margin: 0;
        opacity: .5;
        text-transform: none;
      }

      .credits {
        color: $highlight;
        opacity: 1;
      }
    }
  }
}

.footer-phone .content .footerItem,
.footer-tablet .content .footerItem { width: calc(100% / 1); }
