.navbar {
  background: $secondary;
  height: $navbarHeight;
  list-style: none;
  margin: 0;
  padding: 0 5em;

  .navItem {
    color: $accent;
    display: inline-block;
    font-size: 1.7em;
    height: $navbarHeight;
    line-height: $navbarHeight;
    padding: 0;
    text-align: center;
    vertical-align: middle;

    &:not(:first-child):hover { transform: scale(1.05); }

    a { @include fullsize-link; }

    &:not(:last-child) {
      margin-right: 2em;
    }

    &.title {
      font-size: 3em;
      font-weight: bold;
      text-transform: uppercase;
    }

    &.inviteButton {
      @include button($highlight, $primary);
      float: right;
    }

    .heart { font-weight: bold; }
  }

  .menuBurger {
    fill: $highlight;
    float: left;
    height: 3em;
    margin: calc(( 80px - 3em ) / 2) 100px calc(( 80px - 3em ) / 2) 30px;
    transition: transform .08s;
    width: auto;

    &.clicked { transform: scale(1.1); }
  }
}

.navbar-tablet { padding: 0; }
.navbar-phone { padding: 0; }

#menuDrawer {
  background-color: $secondary;
  border-radius: 10px;
  margin: 10px 0 0 30px;
  padding: 10px;
  position: absolute;
  transform: translateX(-500px);
  transition: transform .25s cubic-bezier(0, .96, 0, 1.01);

  &.open { transform: translateX(0); }

  ul {
    color: $accent;
    font-size: 1.2em;
    padding: 0 .75em;

    li { margin: 20px 0; }
  }

  &.drawer-phone {
    .inviteButton {
      @include button($highlight, $accent);
      margin: 0;
      text-align: center;

      a { color: $primary; }
    }
  }
}
