html,
body,
#root,
#root > div {
  height: 100%;
  margin: 0;
}

body {
  background: $primary;
  font-family: $font;
}

span {
  color: $highlight;
}

.botTitle {
  color: $accent;
  float: right;
  font-size: 40px;
  margin: 80px 140px 0 0;
}

a {
  text-decoration: none;
}

main {
  flex: 1 0 auto;
}

#root > div {
  display: flex;
  flex-direction: column;
}
